<ngx-loading-bar [color]="'#ffdf40'"></ngx-loading-bar>

<div class="d-flex"
     (swiperight)="onSwipeRight()"
     (swipeleft)="onSwipeLeft()">

    <div class="white-menu position-fixed d-lg-none"></div>
    <app-side-menu></app-side-menu>

    <div class="grid-container">
        <div></div>
        <div class="container mb-2 d-flex flex-column">
            <div class="row">
                <div class="mb-5 col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
