<table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z5 full-width">


    <!-- Index Column -->
    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let index = index"> {{index + 1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let entry"> {{entry.name}} </td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location</th>
        <td mat-cell *matCellDef="let entry"> {{entry.location && entry.location.name}} </td>
    </ng-container>

    <!-- Size Column -->
    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Size</th>
        <td mat-cell *matCellDef="let entry"> {{entry.size}} </td>
    </ng-container>

    <!-- Capacity Column -->
    <ng-container matColumnDef="capacity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacity</th>
        <td mat-cell *matCellDef="let entry"> {{entry.capacity}} </td>
    </ng-container>

    <!-- soundSystem Column -->
    <ng-container matColumnDef="soundSystem">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Has sound system</th>
        <td mat-cell *matCellDef="let entry"> {{entry.soundSystem ? 'yes' : 'no'}} </td>
    </ng-container>

    <!-- seats Column -->
    <ng-container matColumnDef="seats">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Has Seats</th>
        <td mat-cell *matCellDef="let entry"> {{entry.seats ? 'yes' : 'no'}} </td>
    </ng-container>


    <!-- seats Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let entry">
            <div class="d-flex justify-content-end">
                <button mat-raised-button (click)="view(entry)">Details</button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="pt-3">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
